<suite name="AutomationSuite">

	<listeners>
		<listener class-name="listeners.TestListener" />
	</listeners>

	<test name="RegressionTests">
	
		<classes>
			<class name="tests.ContactUsTest" />
			<class name="tests.HomePageTest" />
			<class name="tests.CartTest" />
			<class name="tests.LoginTest"/>

		</classes>

	</test>

</suite>
