<suite name="ParaBank Suite">

	<listeners>
		<listener class-name="listeners.TestListener" />
	</listeners>

	<test name="Authentication Module">

		<classes>
			<class name="tests.RegisterTest" />
			<class name="tests.LoginTest" />
			<class name="tests.FindTransactionsTest" />
			<class name="tests.UpdateProfileTest" />
		</classes>

	</test>

</suite>
